<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%=title%>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/botui/build/botui.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/botui/build/botui-theme-default.css" />

    <%# CSS %>
    <link rel="stylesheet" href="css/bot.css" />

</head>
<header>
    <h1>SanjBot</h1>
</header>

<body>
    <main class="bot-wrapper centered">
        <div id="bot">
            <bot-ui></bot-ui>
        </div>

    </main>

    <%# JS Frameworks %>
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyA3UYZ9UacTCM8Uwk-jerJhAtQctLelAj0",
            authDomain: "sanjbot-7a71e.firebaseapp.com",
            databaseURL: "https://sanjbot-7a71e.firebaseio.com",
            projectId: "sanjbot-7a71e",
            storageBucket: "sanjbot-7a71e.appspot.com",
            messagingSenderId: "753125890032"
        };
        firebase.initializeApp(config);

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/botui/build/botui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/botui/build/botui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <%# JS %>
    <script src="js/json_convo.js"></script>
    <!--    <script src="js/convo.js"></script>-->
    <script src="js/socket.js"></script>
</body>

</html>
